<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"  >
    <head>
        <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=UTF-8"/>
        <meta name="navigation" content="cursor" />
        <title>Profile • Wunderland Store</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
                
        <link type="text/css" rel="stylesheet" media="all" charset="utf-8" href="/static/css/global-min.css" />
        <link type="text/css" rel="stylesheet" media="all" charset="utf-8" href="/static/css/style.css" />
        <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon" />

        <script src="/static/js/script.js"></script>

    </head>

    <body>
        <div id="wrapper">
            <div id="header">
                <div id="top">
                    <table>
                        <tr>
                            <td id="logo">
                                <a id="logoImg" href="/"><img src="/static/img/logo_wunderland.png" alt="Wunderland Store" /></a>
                            </td>
                            <td id="searchLink">
                                {% set username = get_user(session['user_id'])['username'] %}
                                <span>Logged in as: <a href="/profile">{{ username }}</a></span>
                            </td>
                        </tr>
                    </table>
                </div> <!-- end top -->                    
            </div> <!-- end header -->

            <div id="views">
                <div class="view">
                    <div id="faq" class="viewWrapper">

                        {% if message is defined and message is not none %}
                        <h1>{{ message }}</h1>
                        {% endif %}

                        {% set user = get_user(session['user_id']) %}

                        <h1>Username: {{ user['username'] }}</h1>
                        <h1>Email: {{ user['email'] }}</h1>

                        <h1><b>Change password:</b></h1>

                        <form action="/change_password/" method="POST" id="changePasswordForm" onsubmit="return validateChangePasswordForm()">
                            <label for="current_password" id="current_password_label">Current password: <span class="required">*</span></label>
                            <input type="password" id="current_password" name="current_password" size="15" style="width: 63%; max-width: 300px;" title="" />

                            <label for="new_password" id="new_password_label">New password: <span class="required">*</span></label>
                            <input type="password" id="new_password" name="new_password" size="15" style="width: 63%; max-width: 300px;" title="" />

                            <label for="new_password_confirm" id="new_password_confirm_label">Confirm new password: <span class="required">*</span></label>
                            <input type="password" id="new_password_confirm" size="15" style="width: 63%; max-width: 300px;" title="" />
                            <span id="passwords_tip" class="tip">Passwords don't match!</span>

                            <br><br>

                            <input type="submit" class="Btn" value="Change password">

                            <br><br>
                        </form>
                        

                        <input type="button" class="Btn" onclick="window.location.href='/logout'" value="Log out"></input>
                    </div>
                    <br />
                </div>
            </div> <!-- end views -->

            <div id="bottom"></div>
                        
            <div id="footer">
                <a class="accountStatusChange" href="/logout">Log out</a> |
                <a href="/help/faqs">Help</a><br/>
            © Wunder Wungiel {{ now.year }}</div>
        </div> <!-- end wrapper -->
    </body>
</html>
