<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"  >
    <head>
        <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=UTF-8"/>
        <meta name="navigation" content="cursor" />
        <title>Submissions | Wunderland Store</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
                
        <link type="text/css" rel="stylesheet" media="all" charset="utf-8" href="/static/css/global-min.css" />
        <link type="text/css" rel="stylesheet" media="all" charset="utf-8" href="/static/css/style.css" />
        <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon"/>
    </head>

    <body>
        <div id="wrapper">
            <div id="header">
                <div id="top">
                    <table>
                        <tr>
                            <td id="logo">
                                <a id='logoImg' href="/home/"><img src="/static/img/logo_wunderland.png" alt="Wunderland Store" /></a>
                            </td>
                            <td id="searchLink">
                                <span><a href="/platform_chooser">Platform</a>: <b>{{ session['platformName'] }}</b></span>
                                |
                                {% if session['loggedIn'] is defined %}
                                <span>Logged in as: <a href="/profile">{{ session['username'] }}</a></span>
                                |
                                {% endif %}
                                <a href="/search/">Search</a>
                            </td>
                        </tr>
                    </table>
                </div> <!-- end top -->

                <div id="navigation">
                    <a class="first" href="/home/">Home</a> <b>|</b>
                    <a href="/applications/">Apps</a> <b>|</b>
                    <a href="/games/">Games</a> <b>|</b>
                    <a href="/themes/">Themes</a>
                </div> <!-- end navigation -->
                
            </div> <!-- end header -->

            <div id="views">
                <div class="view">
                    
                    <br />
                    <table class="contentList" cellspacing="0" width='100%' style="margin-left: 5px;">
                        <tr class="contentItem ">
                            <td class="contentType">
                                <h2 class="title">No submissions (yet)</h2>
                            </td>
                        </tr>
                    </table>

                    </div><!-- end Content Stream -->

                    <div class="beacon"></div>
                </div>
            </div> <!-- end views -->

            <div id="bottom">
                <div id="searchContent">
                    <form action="/search" method="get" id="searchForm">
                        <fieldset id='searchField'>
                            <label for="search">Search</label>
                            <input type="text" id="search" name="q" title="" value="" /> <input type="submit" id="searchBtn" value="Search" />
                        </fieldset>
                    </form>
                </div> <!-- end search -->

                <div id="bottomNavigation">
                    <h3>Browse categories</h3>
                    <a href="/home/">Home</a><br />
                    <a href="/applications/">Apps</a><br />
                    <a href="/games/">Games</a><br />
                    <a href="/themes/">Themes</a><br />
                </div> <!-- end navigation -->
            </div>
                        
            <div id="footer">
                {% if session['loggedIn'] is not defined %}
                <a class="accountStatusChange" href="/login">Sign in</a> |
                {% else %}
                <a class="accountStatusChange" href="/logout">Log out</a> |
                {% endif %}
                <a href="/help/faqs">Help</a><br/>
            © Wunder Wungiel 2024</div>
        </div> <!-- end wrapper -->
    </body>
</html>
