secret_key: ""
port: 8080
database:
  host: "localhost"
  port: 5432
  name: "ovistore"
  user: "postgres"
  password: "1234"
email:
  address: "email@address.com"
  password: ""
  smtp:
    port: 465
    address: ""
proxy: false
allow_indexing: true
per_page: 10
api_prefix: "/api/v1"
platforms:
  qtstore:
    - 's60v3'
    - 's60'
  client:
    - 's60'
    - 'symbian3'
clients:
  - 16
  - 192
