secret_key: ''
database:
  host: "localhost"
  name: "ovistore"
  user: "postgres"
  password: "1234"
email:
  address: "email@address.com"
  password: ""
  smtp:
    port: 465
    address: ""
admin_usernames:
  - ADMIN_USERNAME
proxy: false
api_prefix: "/api/v1"
platforms:
  qtstore:
    - 's60v3'
    - 's60'
  applist:
    - 's60'
    - 'symbian3'
content_types:
  apps:
    prefix: "app"
  games:
    prefix: "game"
  themes:
    prefix: "theme
