#loginForm label {
    display: inline;
}

.required,
.tip {
    display: none;
    color: red;
    font-weight: bold;
}

#searchLink,
#searchLink span,
#searchLink span a {
    color: #fff;
}

.smallButton a {
    font-size: 10px;
}

.share a,
.share a:visited,
.share a:active,
.share a:hover {
    color: #333;
    text-decoration: none;
}

.alert {
    margin: 10px 5px;
}

.alert-danger {
    color: red;
}

.alert-info {
    color: lightblue;
}

.alert-success {
    color: green;
}
