<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"  >
    <head>
        <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=UTF-8"/>
        <meta name="navigation" content="cursor" />
        <title>Our picks | Wunderland Store</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
                
        <link type="text/css" rel="stylesheet" media="all" charset="utf-8" href="/static/css/global-min.css" />
        <link type="text/css" rel="stylesheet" media="all" charset="utf-8" href="/static/css/style.css" />
        <link rel="shortcut icon" href="/static/img/favicon1.ico" type="image/x-icon"/>
    </head>

    <body>
        <div id="wrapper">
            <div id="header">
                <div id="top">
                    <table>
                        <tr>
                            <td id="logo">
                                <a id='logoImg' href="/home/"><img src="/static/img/logo_wunderland.png" alt="Wunderland Store" /></a>
                            </td>
                            <td id="searchLink">
                                <span><a href="/platform_chooser">Platform</a>: <b>{{ session['platformName'] }}</b></span>
                                |
                                {% if session['loggedIn'] is defined %}
                                <span>Logged in as: <a href="/profile">{{ session['username'] }}</a></span>
                                |
                                {% endif %}
                                <a href="/search/">Search</a>
                            </td>
                        </tr>
                    </table>
                </div> <!-- end top -->

                <div id="navigation">
                    <a class="first selected" href="/home/">Our picks</a> <b>|</b>
                    <a href="/applications/">Apps</a> <b>|</b>
                    <a href="/games/">Games</a> <b>|</b>
                    <a href="/themes/">Themes</a>
                </div> <!-- end navigation -->
            
            </div> <!-- end header -->

            <div id="views">
                <div class="view">
                    

                <!-- Content Stream -->
                    <!-- BSO -->
                    <!-- <div class="contentList bso">
                        <table>
                            <tr class="contentItem">
                                <td class="thumbnail">
                                    <img src="http://p.d.ovi.com/p/g/store/15725945/AFM_icon_256-46x46.png?q=qYfC8uw7D*iQ8K8Y5j219Gd9J4pa9-s1&c=ovi_store" alt="ASTRO File Manager"/>
                                </td>
                                <td class="contentType">
                                    <h2 class="title"><a href="http://store.ovi.mobi/content/447014?contentArea=&amp;clickSource=bso">ASTRO File Manager</a></h2>Utilities
                                    <p class="description"></p>
                                </td>    
                            </tr>
                        </table>
                    </div> -->
                    <!-- end bso -->

                    <table class="contentList" cellspacing="0" width='100%' >

                        {% for app in apps %}

                        {% if loop.index % 2 == 0 %}
                        <tr class="contentItem ">
                        {% else %}
                        <tr class="contentItem  alt">
                        {% endif %}
        
                            <td class="thumbnail">
                                <img src="/static/store/{{ app['img'] }}" width="46" height="46" alt="thumbnail of {{ app['title'] }}"/>
                            </td>
        
                            <td class="contentType">
                                <h2 class="title">
                                    <a href="/app/{{ app['id'] }}">{{ app['title'] }}</a>
                                </h2>{{ app['category'] }}
                            </td>
        
                            <td class="contentRatingPrice">
                                <div class="rating">
                                    {% for i in range(app['rating']) %}
                                    <img src="/static/img/star_p.png" alt="{{ i+1 }} star" />
                                    {% endfor %}
                                    {% if app['rating'] != 5 %}
                                    {% for i in range(app['rating'], 5) %}
                                    <img src="/static/img/star_g.png" alt="{{ i+1 }} star" />
                                    {% endfor %}
                                    {% endif %}
                                </div>
                            </td>
                        </tr>

                        {% endfor %}

                    </table>

                <!-- </div> end Content Stream -->

                    {% if previous_page != None and next_page != None %}
                    <p class="pagination">
                    {% if previous_page != None %}
                        <a href="/home/?page={{ previous_page }}">Previous</a>
                    {% endif %}
                    {% if next_page != None %}
                        <a href="/home/?page={{ next_page }}">Next</a>
                    {% endif %}
                    </p>
                    {% endif %}
                <!-- end results -->


                <div class="beacon"></div>

                </div>
            </div> <!-- end views -->

            <div id="bottom">
                <div id="searchContent">
                    <form action="/search" method="get" id="searchForm">
                        <fieldset id='searchField'>
                            <label for="search">Search</label>
                            <input type="text" id="search" name="q" title="" value="" /> <input type="submit" id="searchBtn" value="Search" />
                        </fieldset>
                    </form>
                </div> <!-- end search -->

                <div id="bottomNavigation">
                    <h3>Browse categories</h3>
                    <a href="/home/" class="selected">Our picks</a><br />
                    <a href="/applications/">Apps</a><br />
                    <a href="/games/">Games</a><br />
                    <a href="/themes/">Themes</a><br />
                </div> <!-- end navigation -->
            </div>

            <div id="footer">
                {% if session['loggedIn'] is not defined %}
                <a class="accountStatusChange" href="/login">Sign in</a> |
                {% else %}
                <a class="accountStatusChange" href="/logout">Log out</a> |
                {% endif %}
                <a href="/help/faqs">Help</a><br/>
            © Wunder Wungiel 2024</div>
        </div> <!-- end wrapper -->
    </body>
</html>
