<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"  >
    <head>
        <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=UTF-8"/>
        <meta name="navigation" content="cursor" />
        <title>Screenshots | Wunderland Store</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
                
        <link type="text/css" rel="stylesheet" media="all" charset="utf-8" href="/static/css/global-min.css" />    
        <link type="text/css" rel="stylesheet" media="all" charset="utf-8" href="/static/css/style.css" />
        <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon"/>
    </head>

    <body>
        <div id="wrapper">
            <div id="header">
                <div id="top">
                    <table>
                        <tr>
                            <td id="logo">
                                <a id="logoImg" href="/home/"><img src="/static/img/logo_wunderland.png" alt="Wunderland Store" /></a>
                            </td>
                            <td id="searchLink">
                                {% if session['platform'] is none %}
                                {% set platform_name = "All" %}
                                {% else %}
                                {% set platform_name = get_platform(session['platform'])['name'] %}
                                {% endif %}
                                <span><a href="/platform">Platform</a>: <b>{{ platform_name }}</b></span>
                                |
                                {% if session['logged_in'] is defined %}
                                {% set username = get_user(session['user_id'])['username'] %}
                                <span>Logged in as: <a href="/profile">{{ username }}</a></span>
                                |
                                {% endif %}
                                <a href="/search/">Search</a>
                            </td>
                        </tr>
                    </table>
                </div> <!-- end top -->
                                
            </div> <!-- end header -->

            <div id="views">
                <div class="view">
                    <div class="contentItem">
                        {% for screenshot in app['screenshots'] %}
                        <a href="/static/content/screenshots/{{ content_type }}/{{ screenshot }}">
	                        <img src="/static/content/screenshots/{{ content_type }}/{{ screenshot }}" alt="{{ app['title'] }}" />
	                    </a>
		                {% endfor %}
    
                        <div class="options">
                            {% if content_type == 'apps' %}
                            <a href="/app/{{ app['id'] }}/">
                            {% elif content_type == 'games' %}
                            <a href="/game/{{ app['id'] }}/">
                            {% elif content_type == 'themes' %}
                            <a href="/theme/{{ app['id'] }}/">
                            {% endif %}
                            &lt; Back to {{ app['title'] }}</a>
                        </div>
                    </div> <!-- end content -->
                    <div class="beacon"></div>

                </div>
            </div> <!-- end views -->

            <div id="bottom"></div>
                        
            <div id="footer">
                {% if session['logged_in'] is not defined %}
                <a class="accountStatusChange" href="/login">Sign in</a> |
                {% else %}
                <a class="accountStatusChange" href="/logout">Log out</a> |
                {% endif %}
                <a href="/help/faqs">Help</a><br/>
            © Wunder Wungiel {{ now.year }}</div>
        </div> <!-- end wrapper -->
    </body>
</html>
