<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"  >
    <head>
        <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=UTF-8"/>
        <meta name="navigation" content="cursor" />
        <title>Applications | Wunderland Store</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
                
        <link type="text/css" rel="stylesheet" media="all" charset="utf-8" href="/static/css/global-min.css" />
        <link type="text/css" rel="stylesheet" media="all" charset="utf-8" href="/static/css/style.css" />
        <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon"/>
    </head>

    <body>
        <div id="wrapper">
            <div id="header">
                <div id="top">
                    <table>
                        <tr>
                            <td id="logo">
                                <a id="logoImg" href="/home/"><img src="/static/img/logo_wunderland.png" alt="Wunderland Store" /></a>
                            </td>
                            <td id="searchLink">
                                {% if session['platform'] is none %}
                                {% set platform_name = "All" %}
                                {% else %}
                                {% set platform_name = get_platform(session['platform'])['name'] %}
                                {% endif %}
                                <span><a href="/platform">Platform</a>: <b>{{ platform_name }}</b></span>
                                |
                                {% if session['logged_in'] is defined %}
                                {% set username = get_user(session['user_id'])['username'] %}
                                <span>Logged in as: <a href="/profile">{{ username }}</a></span>
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                </div> <!-- end top -->
            </div> <!-- end header -->

            <div id="views">
                <div class="view">
                    <div class="contentItem">
	                    <h2>Categories</h2>

                        <div id="categories">
                            <a href="/apps" class="selected">All applications</a><br />
                            {% for category in categories %}
                            <a href="/apps/?category_id={{ category['id'] }}">{{ category['name'] }}</a>{% if not loop.last %}<br />{% endif %}
                            {% endfor %}
                        </div> <!-- end categories -->

	                </div> <!-- end content item -->

                    <div class="beacon"></div>
                </div>
            </div> <!-- end views -->

            <div id="bottom"></div>
                        
            <div id="footer">
                {% if session['logged_in'] is not defined %}
                <a class="accountStatusChange" href="/login">Sign in</a> |
                {% else %}
                <a class="accountStatusChange" href="/logout">Log out</a> |
                {% endif %}
                <a href="/help/faqs">Help</a><br/>
            © Wunder Wungiel {{ now.year }}</div>
        </div> <!-- end wrapper -->
    </body>
</html>
