<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"  >
    <head>
        <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=UTF-8"/>
        <meta name="navigation" content="cursor" />
        {% if category is defined and category is not none %}
        <title>{{ content_type['friendly_name'] }} :: {{ category['name'] }} • Wunderland Store</title>
        {% else %}
        <title>{{ content_type['friendly_name'] }} • Wunderland Store</title>
        {% endif %}
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
                
        <link type="text/css" rel="stylesheet" media="all" charset="utf-8" href="{{ url_for('static', filename='css/global-min.css') }}" />
        <link type="text/css" rel="stylesheet" media="all" charset="utf-8" href="{{ url_for('static', filename='css/style.css') }}" />
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon"/>
    </head>

    <body>
        <div id="wrapper">
            <div id="header">
                <div id="top">
                    <table>
                        <tr>
                            <td id="logo">
                                <a id="logoImg" href="{{ url_for('store.root') }}"><img src="{{ url_for('static', filename='img/logo_wunderland.png') }}" alt="Wunderland Store" /></a>
                            </td>
                            <td id="searchLink">
                                {% if session['platform'] is none %}
                                {% set platform_name = "All" %}
                                {% else %}
                                {% set platform_name = get_platform(session['platform'])['name'] %}
                                {% endif %}
                                <span><a href="{{ url_for('store.platform') }}">Platform</a>: <b>{{ platform_name }}</b></span>
                                |
                                {% if session['logged_in'] is defined %}
                                {% set username = get_user(session['user_id'])['username'] %}
                                <span>Logged in as: <a href="{{ url_for('auth.profile') }}">{{ username }}</a></span>
                                |
                                {% endif %}
                                <a href="{{ url_for('store.search') }}">Search</a>
                            </td>
                        </tr>
                    </table>
                </div> <!-- end top -->

                <div id="navigation">
                    <a class="first" href="{{ url_for('store.root') }}">Home</a> <b>|</b>
                    {% for _content_type in get_content_types() %}
                    <a href="{{ url_for('store.content', content_type_name=_content_type['name']) }}" class="{% if content_type['name'] == _content_type['name'] %}selected{% endif %}">{{ _content_type['friendly_name'] }}</a>
                    {% if not loop.last %}
                    <b>|</b>
                    {% endif %}
                    {% endfor %}
                </div> <!-- end navigation -->
                
                {% if category is defined and category is not none %}
                <div id="crumbNav">{{ content_type['friendly_name'] }}&nbsp;&gt; {{ category['name'] }} &nbsp;<a href="{{ url_for('store.browse_categories', content_type_name=content_type['name']) }}">Change</a></div>
                {% else %}
                <div id="crumbNav">{{ content_type['friendly_name'] }}&nbsp;&gt; All&nbsp;<a href="{{ url_for('store.browse_categories', content_type_name=content_type['name']) }}">Change</a></div>
                {% endif %}
                
            </div> <!-- end header -->

            <div id="views">
                <div class="view">
                    
                    <table class="contentList" cellspacing="0" width="100%" >
                        {% for app in apps %}
                        <tr class="{{ loop.cycle('contentItem alt', 'contentItem') }}">
                        
                            {% if content_type['icons'] %}
                            <td class="thumbnail">
                                <img src="{{ url_for('static', filename='content/icons/' ~ app['img']) }}" width="46" height="46" alt="{{ app['title'] }}" />
                            </td>
                            {% else %}
                            <td class="thumbnail" style="width: 0;"></td>
                            {% endif %}
                        
                            <td class="contentType">
                                <h2 class="title">
                                    <a href="{{ url_for('store.item', prefix=content_type['prefix'], id=app['id']) }}">{{ app['title'] }}</a>
                                </h2>{% if content_type['categories'] and category is none %}{{ app['category']['name'] }}{% endif %}
                            </td>
                        
                            <td class="contentRatingPrice">
                                <div class="rating">
                                    {% for i in range(app['rating']) %}
                                    <img src="{{ url_for('static', filename='img/star_p.png') }}" alt="{{ i+1 }} star" />
                                    {% endfor %}
                                    {% for i in range(app['rating'], 5) %}
                                    <img src="{{ url_for('static', filename='img/star_g.png') }}" alt="{{ i+1 }} star" />
                                    {% endfor %}
                                </div>
                            </td>
                        {% endfor %}
                        </tr>
                    </table>

                </div> <!-- end Content Stream -->

                {% if previous_page is not none or next_page is not none %}
                <p class="pagination">
                {% if previous_page is not none %}
                {% if category_id is not none %}
                    <a href="{{ url_for('store.content', content_type_name=content_type['name'], category=category_id, page=previous_page) }}">Previous</a>
                {% else %}
                    <a href="{{ url_for('store.content', content_type_name=content_type['name'], page=previous_page) }}">Previous</a>
                {% endif %}
                {% endif %}
                {% if next_page is not none %}
                {% if category_id is not none %}
                    <a href="{{ url_for('store.content', content_type_name=content_type['name'], category=category_id, page=next_page) }}">Next</a>
                {% else %}
                    <a href="{{ url_for('store.content', content_type_name=content_type['name'], page=next_page) }}">Next</a>
                {% endif %}
                {% endif %}
                </p>
                {% endif %}

                <div class="beacon"></div>

                </div>
            </div> <!-- end views -->

            <div id="bottom">
                <div id="searchContent">
                    <form action="{{ url_for('store.search') }}" method="get" id="searchForm">
                        <fieldset id="searchField">
                            <label for="search">Search</label>
                            <input type="text" id="search" name="q" title="" value="" /> <input type="submit" id="searchBtn" value="Search" />
                        </fieldset>
                    </form>
                </div> <!-- end search -->

                <div id="bottomNavigation">
                    <h3>Browse categories</h3>
                    <a href="{{ url_for('store.root') }}">Home</a><br />
                    {% for _content_type in get_content_types() %}
                    <a href="{{ url_for('store.content', content_type_name=_content_type['name']) }}" class="{% if content_type['name'] == _content_type['name'] %}selected{% endif %}">{{ _content_type['friendly_name'] }}</a><br />
                    {% endfor %}
            </div>
                        
            <div id="footer">
                <a href="{{ url_for('store.download') }}">Download</a> |
                {% if session['logged_in'] is not defined %}
                <a class="accountStatusChange" href="{{ url_for('auth.login') }}">Sign in</a>
                {% else %}
                <a class="accountStatusChange" href="{{ url_for('auth.logout') }}">Log out</a>
                {% endif %}
                <br />
            © Wunder Wungiel {{ now.year }}</div>
        </div> <!-- end wrapper -->
    </body>
</html>
