<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"  >
    <head>
        <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=UTF-8"/>
        <meta name="navigation" content="cursor" />
        <title>Screenshots • Wunderland Store</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
                
        <link type="text/css" rel="stylesheet" media="all" charset="utf-8" href="{{ url_for('static', filename='css/global-min.css') }}" />    
        <link type="text/css" rel="stylesheet" media="all" charset="utf-8" href="{{ url_for('static', filename='css/style.css') }}" />
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon"/>
    </head>

    <body>
        <div id="wrapper">
            <div id="header">
                <div id="top">
                    <table>
                        <tr>
                            <td id="logo">
                                <a id="logoImg" href="{{ url_for('store.root') }}"><img src="{{ url_for('static', filename='img/logo_wunderland.png') }}" alt="Wunderland Store" /></a>
                            </td>
                            <td id="searchLink">
                                {% if session['platform'] is none %}
                                {% set platform_name = "All" %}
                                {% else %}
                                {% set platform_name = get_platform(session['platform'])['name'] %}
                                {% endif %}
                                <span><a href="{{ url_for('store.platform') }}">Platform</a>: <b>{{ platform_name }}</b></span>
                                |
                                {% if session['logged_in'] is defined %}
                                {% set username = get_user(session['user_id'])['username'] %}
                                <span>Logged in as: <a href="{{ url_for('auth.profile') }}">{{ username }}</a></span>
                                |
                                {% endif %}
                                <a href="{{ url_for('store.search') }}">Search</a>
                            </td>
                        </tr>
                    </table>
                </div> <!-- end top -->
                                
            </div> <!-- end header -->

            <div id="views">
                <div class="view">
                    <div class="contentItem">
                        {% for screenshot in app['screenshots'] %}
                        <a href="{{ url_for('static', filename='content/screenshots/' ~ content_type['name'] ~ '/' ~ screenshot) }}">
	                        <img src="{{ url_for('static', filename='content/screenshots/' ~ content_type['name'] ~ '/' ~ screenshot) }}" alt="{{ app['title'] }}" />
	                    </a>
		                {% endfor %}
    
                        <div class="options">
                            <a href="{{ url_for('store.item', prefix=content_type['prefix'], id=app['id']) }}">&lt; Back to {{ app['title'] }}</a>
                        </div>
                    </div> <!-- end content -->
                    <div class="beacon"></div>

                </div>
            </div> <!-- end views -->

            <div id="bottom"></div>
                        
            <div id="footer">
                <a href="{{ url_for('store.download') }}">Download</a> |
                {% if session['logged_in'] is not defined %}
                <a class="accountStatusChange" href="{{ url_for('auth.login') }}">Sign in</a>
                {% else %}
                <a class="accountStatusChange" href="{{ url_for('auth.logout') }}">Log out</a>
                {% endif %}
                <br />
            © Wunder Wungiel {{ now.year }}</div>
        </div> <!-- end wrapper -->
    </body>
</html>
