<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <head>
        <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=UTF-8"/>
        <meta name="navigation" content="cursor"/>
        <meta name="description" content="{{ item['description'] }}"/>
        <title>{{ item['title'] }} • Wunderland Store</title>
        <link type="text/css" rel="stylesheet" media="all" charset="utf-8" href="{{ url_for('static', filename='css/global-min.css') }}"/>
        <link type="text/css" rel="stylesheet" media="all" charset="utf-8" href="{{ url_for('static', filename='css/style.css') }}"/>
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon"/>
    </head>

    <body>
        <div id="wrapper">

            <div id="header">
                <div id="top">
                    <table>
                        <tr>
                            <td id="logo">
                                <a id="logoImg" href="{{ url_for('store.root') }}">
                                    <img src="{{ url_for('static', filename='img/logo_wunderland.png') }}" alt="Wunderland Store"/>
                                </a>
                            </td>
                            <td id="searchLink">
                                <span>
                                    <a href="{{ url_for('store.platforms') }}">Platform</a>:
                                    <b>{{ g.platform['name'] if g.platform else 'All' }}</b>
                                </span>
                                |
                                {% if g.user %}
                                <span>Logged in as: <a href="{{ url_for('auth.profile') }}">{{ g.user['username'] }}</a></span>
                                |
                                {% endif %}
                                <a href="{{ url_for('store.search') }}">Search</a>
                            </td>
                        </tr>
                    </table>
                </div>

                <div id="crumbNav">
                    <a href="{{ url_for('store.content', content_type_id=item['content_type']['id']) }}" id="crumbNavContentArea">{{ item['content_type']['name'] }}</a>
                    &gt; <a href="{{ url_for('store.content', content_type_id=item['content_type']['id'], category_id=item['category']['id']) }}" id="crumbNavContentArea">{{ item['category']['name'] }}</a>
                    &gt; {{ item['title'] }}
                </div>
            </div>

            <div id="views">
                <div class="view">
                    <div class="contentItem" id="{{ item['id'] }}">
                        <table class="contentInfo hreview-aggregate">
                            <tr>
                                {% if item['content_type']['icons'] %}
                                <td class="feature">
                                    <img src="{{ url_for('static', filename='content/icons/' ~ item['icon']) }}" alt="{{ item['title'] }}" width="66" height="66"/>
                                </td>
                                {% endif %}
                                <td class="meta item">
                                    <div class="title"><h2 class="fn nokia-gray">{{ item['title'] }}</h2></div>
                                    <p class="type">
                                        <b>Size:</b> {{ item['size'] | naturalsize }}<br/>
                                        {% if item['platform'] %}
                                        <b>Platform:</b> {{ item['platform']['name'] }}<br/>
                                        {% endif %}
                                        <b>Publisher:</b> {{ item['publisher'] }}<br/>
                                        <b>Version:</b> {{ item['version'] }}
                                    </p>
                                </td>
                            </tr>
                        </table>

                        <table width="100%">
                            <tr>
                                <td align="right">
                                    <div class="buy">
                                        <div class="buttons">
                                            <a href="{{ url_for('static', filename='content/files/' ~ item['file']) }}" class="lite" target="_blank">Download</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>

                        <div class="reviewDiv">
                            {% if session.logged_in is defined %}
                            <a href="{{ url_for('store.rate', id=item['id']) }}" class="reviews">Rate</a>
                            {% endif %}
                            {% for i in range(item['rating']) %}
                            <img src="{{ url_for('static', filename='img/star_p.png') }}" alt="{{ i+1 }} star"/>
                            {% endfor %}
                            {% for i in range(item['rating'], 5) %}
                            <img src="{{ url_for('static', filename='img/star_g.png') }}" alt="{{ i+1 }} star"/>
                            {% endfor %}
                        </div>

                        {% if item['screenshots'] %}
                        <p class="morePhotos"><a href="{{ url_for('store.images', content_id=item['id']) }}">Screenshots ({{ item['screenshots']|length }})</a></p>
                        {% else %}
                        <p></p>
                        {% endif %}

                        {% if item['description'] %}
                        <div class="description">
                            <p>{{ item['description']|safe }}</p>
                        </div>
                        {% endif %}

                        {% if item['addon_text'] %}
                        <div style="color: green;">
                            Extra file: {{ item['addon_text']|safe }}
                            {% if item['addon_file'] %}
                            <div class="buttons smallButtons">
                                <a href="{{ url_for('static', filename='content/files/' ~ item['addon_file']) }}" class="lite" target="_blank">Download</a>
                            </div>
                            {% endif %}
                        </div>
                        <br/>
                        {% endif %}

                        {% if recommended %}
                        <div class="related">
                            <h3>Here are items similar to {{ item['title'] }}:</h3>
                            <table class="contentList" cellspacing="0" width="100%">
                                {% for rec in recommended %}
                                <tr class="{{ loop.cycle('contentItem', 'contentItem alt') }}">
                                    <td class="thumbnail">
                                        <img src="{{ url_for('static', filename='content/icons/' ~ rec['icon']) }}" alt="thumbnail of {{ rec['title'] }}" width="46" height="46"/>
                                    </td>
                                    <td class="contentType">
                                        <h2 class="title">
                                            <a href="{{ url_for('store.item', content_id=rec['id']) }}">{{ rec['title'] }}</a>
                                        </h2>
                                    </td>
                                    <td class="contentRatingPrice">
                                        <div class="rating">
                                            {% for i in range(rec['rating']) %}
                                            <img src="{{ url_for('static', filename='img/star_p.png') }}" alt="{{ i+1 }} star"/>
                                            {% endfor %}
                                            {% for i in range(rec['rating'], 5) %}
                                            <img src="{{ url_for('static', filename='img/star_g.png') }}" alt="{{ i+1 }} star"/>
                                            {% endfor %}
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                        {% endif %}

                    </div>
                    <div class="beacon"></div>
                </div>
            </div>

            <div id="bottom">
                <div id="searchContent">
                    <form action="{{ url_for('store.search') }}" method="get" id="searchForm">
                        <fieldset id="searchField">
                            <label for="search">Search</label>
                            <input type="text" id="search" name="query" value=""/>
                            <input type="submit" id="searchBtn" value="Search"/>
                        </fieldset>
                    </form>
                </div>

                <div id="bottomNavigation">
                    <h3>Browse categories</h3>
                    <a href="{{ url_for('store.root') }}">Home</a><br/>
                    {% for _content_type in get_content_types() %}
                    <a href="{{ url_for('store.content', content_type_id=_content_type['id']) }}" class="{{ 'selected' if item['content_type']['id'] == _content_type['id'] }}">{{ _content_type['name'] }}</a><br/>
                    {% endfor %}
                </div>
            </div>

            <div id="footer">
                <a href="{{ url_for('store.download') }}">Download</a> |
                {% if not g.user %}
                <a class="accountStatusChange" href="{{ url_for('auth.login') }}">Sign in</a>
                {% else %}
                <a class="accountStatusChange" href="{{ url_for('auth.logout') }}">Log out</a>
                {% endif %}
                <br/>
                © Wunder Wungiel {{ now.year }}
            </div>

        </div>
    </body>
</html>
