<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <head>
        <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=UTF-8"/>
        <meta name="navigation" content="cursor"/>
        <title>Select platform • Wunderland Store</title>
        <link type="text/css" rel="stylesheet" media="all" charset="utf-8" href="{{ url_for('static', filename='css/global-min.css') }}"/>
        <link type="text/css" rel="stylesheet" media="all" charset="utf-8" href="{{ url_for('static', filename='css/style.css') }}"/>
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon"/>
    </head>

    <body>
        <div id="wrapper">

            <div id="header">
                <div id="top">
                    <table>
                        <tr>
                            <td id="logo">
                                <a id="logoImg" href="{{ url_for('store.root') }}">
                                    <img src="{{ url_for('static', filename='img/logo_wunderland.png') }}" alt="Wunderland Store"/>
                                </a>
                            </td>
                            <td id="searchLink">
                                <span>
                                    <a href="{{ url_for('store.platforms') }}">Platform</a>:
                                    <b>{{ g.platform['name'] if g.platform else 'All' }}</b>
                                </span>
                                {% if g.user %}
                                |
                                <span>Logged in as: <a href="{{ url_for('auth.profile') }}">{{ g.user['username'] }}</a></span>
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div id="views">
                <div class="view">
                    <div class="contentItem">
                        <h2>Platforms</h2>
                        <div id="categories">
                            <a href="{{ url_for('store.set_platform', platform=None) }}">
                                {% if not session['platform_id'] %}<b>All platforms</b>{% else %}All platforms{% endif %}
                            </a><br/>
                            {% for platform in platforms %}
                            <a href="{{ url_for('store.set_platform', platform_id=platform['id']) }}">
                                {% if session['platform_id'] == platform['id'] %}<b>{{ platform['name'] }}</b>{% else %}{{ platform['name'] }}{% endif %}
                            </a>
                            {% if not loop.last %}<br/>{% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="beacon"></div>
                </div>
            </div>

            <div id="bottom"></div>

            <div id="footer">
                <a href="{{ url_for('store.download') }}">Download</a> |
                {% if not g.user %}
                <a class="accountStatusChange" href="{{ url_for('auth.login') }}">Sign in</a>
                {% else %}
                <a class="accountStatusChange" href="{{ url_for('auth.logout') }}">Log out</a>
                {% endif %}
                <br/>
                © Wunder Wungiel {{ now.year }}
            </div>

        </div>
    </body>
</html>
