<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"  >
    <head>
        <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=UTF-8"/>
        <meta name="navigation" content="cursor" />
        {% if category is defined and category is not none %}
        <title>Themes :: {{ category['name'] }}  | Wunderland Store</title>
        {% else %}
        <title>Themes | Wunderland Store</title>
        {% endif %}
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
                
        <link type="text/css" rel="stylesheet" media="all" charset="utf-8" href="/static/css/global-min.css" />
        <link type="text/css" rel="stylesheet" media="all" charset="utf-8" href="/static/css/style.css" />
        <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon"/>
    </head>

    <body>
        <div id="wrapper">
            <div id="header">
                <div id="top">
                    <table>
                        <tr>
                            <td id="logo">
                                <a id='logoImg' href="/home/"><img src="/static/img/logo_wunderland.png" alt="Wunderland Store" /></a>
                            </td>
                            <td id="searchLink">
                                {% if session['platform'] is none %}
                                {% set platform_name = "All" %}
                                {% else %}
                                {% set platform_name = get_platform(session['platform'])['name'] %}
                                {% endif %}
                                <span><a href="/platform">Platform</a>: <b>{{ platform_name }}</b></span>
                                |
                                {% if session['logged_in'] is defined %}
                                {% set username = get_user(session['user_id'])['username'] %}
                                <span>Logged in as: <a href="/profile">{{ username }}</a></span>
                                |
                                {% endif %}
                                <a href="/search/">Search</a>
                            </td>
                        </tr>
                    </table>
                </div> <!-- end top -->

                <div id="navigation">
                    <a class="first" href="/home/">Home</a> <b>|</b>
                    <a href="/apps/">Apps</a> <b>|</b>
                    <a href="/games/">Games</a> <b>|</b>
                    <a href="/themes/" class="selected">Themes</a>
                </div> <!-- end navigation -->
                
                {% if category is not none %}
                <div id="crumbNav">Themes&nbsp;&gt; {{ category['name'] }}&nbsp;<a href="/themes/browse/">Change</a></div>
                {% else %}
                <div id="crumbNav">Themes&nbsp;&gt; All&nbsp;<a href="/themes/browse/">Change</a></div>
                {% endif %}
                
            </div> <!-- end header -->

            <div id="views">
                <div class="view">
                    
                    <table class="contentList" cellspacing="0" width='100%' >
                        {% for app in apps %}
                        {% if loop.index % 2 == 0 %}
                        <tr class="contentItem ">
                        {% else %}
                        <tr class="contentItem  alt">
                        {% endif %}
                        
                            <td class="thumbnail" style="width: 0;"></td>
                        
                            <td class="contentType">
                                <h2 class="title">
                                    <a href="/theme/{{ app['id'] }}/">{{ app['title'] }}</a>
                                </h2>
                            </td>
                        
                            <td class="contentRatingPrice">
                                <div class="rating">
                                    {% for i in range(app['rating']) %}
                                    <img src="/static/img/star_p.png" alt="{{ i+1 }} star" />
                                    {% endfor %}
                                    {% if app['rating'] != 5 %}
                                    {% for i in range(app['rating'], 5) %}
                                    <img src="/static/img/star_g.png" alt="{{ i+1 }} star" />
                                    {% endfor %}
                                    {% endif %}
                                </div>
                            </td>
                        {% endfor %}
                        </tr>
                    </table>

                </div> <!-- end Content Stream -->

                {% if previous_page is not none or next_page is not none %}
                <p class="pagination">
                {% if previous_page is not none %}
                {% if category_id is not none %}
                    <a href="/themes/?category_id={{ category_id }}&page={{ previous_page }}">Previous</a>
                {% else %}
                    <a href="/themes/?page={{ previous_page }}">Previous</a>
                {% endif %}
                {% endif %}
                {% if next_page is not none %}
                {% if category_id is not none %}
                    <a href="/themes/?category_id={{ category_id }}&page={{ next_page }}">Next</a>
                {% else %}
                <a href="/themes/?page={{ next_page }}">Next</a>
                {% endif %}
                {% endif %}
                </p>
                {% endif %}

                <div class="beacon"></div>

                </div>
            </div> <!-- end views -->

            <div id="bottom">
                <div id="searchContent">
                    <form action="/search" method="get" id="searchForm">
                        <fieldset id='searchField'>
                            <label for="search">Search</label>
                            <input type="text" id="search" name="q" title="" value="" /> <input type="submit" id="searchBtn" value="Search" />
                        </fieldset>
                    </form>
                </div> <!-- end search -->

                <div id="bottomNavigation">
                    <h3>Browse categories</h3>
                    <a href="/home/">Home</a><br />
                    <a href="/apps/">Apps</a><br />
                    <a href="/games/">Games</a><br />
                    <a href="/themes/" class="selected">Themes</a><br />
            </div>
                        
            <div id="footer">
                {% if session['logged_in'] is not defined %}
                <a class="accountStatusChange" href="/login">Sign in</a> |
                {% else %}
                <a class="accountStatusChange" href="/logout">Log out</a> |
                {% endif %}
                <a href="/help/faqs">Help</a><br/>
            © Wunder Wungiel {{ now.year }}</div>
        </div> <!-- end wrapper -->
    </body>
</html>
