<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <head>
        <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=UTF-8"/>
        <meta name="navigation" content="cursor" />
        <title>Upload | Wunderland Store</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        
        <link type="text/css" rel="stylesheet" media="all" charset="utf-8" href="/static/css/global-min.css" />
        <link type="text/css" rel="stylesheet" media="all" charset="utf-8" href="/static/css/style.css" />
        <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon" />
    </head>

    <body>
        <div id="wrapper">
            <div id="header">
                <div id="top">
                    <table>
                        <tr>
                            <td id="logo">
                                <a id='logoImg' href="/home/"><img src="/static/img/logo_wunderland.png" alt="Wunderland Store" /></a>
                            </td>
                            <td id="searchLink">
                                <span><a href="/platform_chooser">Platform</a>: <b>{{ session['platformName'] }}</b></span>
                                |
                                {% if session['loggedIn'] is defined %}
                                <span>Logged in as: <a href="/profile">{{ session['username'] }}</a></span>
                                |
                                {% endif %}
                                <a href="/search/">Search</a>
                            </td>
                        </tr>
                    </table>
                </div> <!-- end top -->                        
            </div> <!-- end header -->

            <div id="views">
                <div class="view">
                    <div class="contentItem">
                        <h1>Upload content</h1>
                        <div id="searchField">
                            <form action="" method="POST" id="searchForm" enctype="multipart/form-data">
                                <label for="title">Title: </label>
                                <input type="text" id="title" name="title" required />

                                <label for="description">Description: </label>
                                <textarea id="description" name="description" required></textarea>

                                {% if content_type != "themes" %}
                                <fieldset>
                                    <legend>Category:</legend>
                                    {% for category in categories %}
                                    <label><input type="radio" name="category" value="{{ category[0] }}">{{ category[1] }}</label>
                                    {% endfor %}
                                </fieldset>
                                {% endif %}

                                <label for="file">File (extensions: sis, sisx, jar, zip):</label>
                                <input type="file" id="file" name="file" required />

                                <label for="publisher">Publisher: </label>
                                <input type="text" id="publisher" name="publisher" required />

                                <label for="version">Version: </label>
                                <input type="text" id="version" name="version" required />
                     
                                <fieldset>
                                    <legend>Platform:</legend>
                                    {% for platform in platforms %}
                                    <label><input type="radio" name="platform" value="{{ platform[0] }}">{{ platform[1] }}</label>
                                    {% endfor %}
                                    <label><input type="radio" name="platform" value="all">All</label>
                                </fieldset>

                                <label for="icon">Icon (extensions: png, jpeg, jpg):</label>
                                <input type="file" id="icon" name="icon" required>

                                <label for="screenshots">Screenshots (extensions: png, jpeg, jpg):</label>
                                <input type="file" id="screenshots" name="screenshots" multiple required />

                                <label for="addonfile">Addon file (extensions: sis, sisx, jar, zip):</label>
                                <input type="file" id="addonfile" name="addonfile">

                                <label for="addonmessage">Addon message:</label>
                                <input type="text" id="addonmessage" name="addonmessage">
             
                                <br /><br />
                                <input type="reset" id="searchBtn" value="Clear" />
                                <br /><br />
                                <input type="submit" id="searchBtn" value="Submit" />
                            </form>
                        </div> <!-- end search -->
                    </div>

                    <div class="homeLink">
                        <a href="/home/">Home</a>
                    </div>

                    <div class="beacon"></div>
                </div>
            </div> <!-- end views -->

            <div id="bottom"></div>
                        
            <div id="footer">
                {% if session['loggedIn'] is not defined %}
                <a class="accountStatusChange" href="/login">Sign in</a> |
                {% else %}
                <a class="accountStatusChange" href="/logout">Log out</a> |
                {% endif %}
                <a href="/help/faqs">Help</a><br/>
            © Wunder Wungiel {{ now.year }}</div>
        </div> <!-- end wrapper -->
    </body>
</html>
